body {
  overflow-y: scroll;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.App {
  text-align: center;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: black !important;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}
.dark-bg {
  background-color: black;
  color: bisque;
}

.head-nav {
  min-width: 100% !important;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.nav-logo{
  width: 25%;

}
.citybox {
  padding: 1rem;
  width: 65%;
  display: flex;
  align-content: space-around;
  align-items: center;
  
}
.searchBox {
  padding: 1.1rem !important;
  margin: 0.5rem 0.5rem 0 0.5rem !important;
  border: none !important;
  border-radius: 5px !important;
  width: 60%;
  height: 1rem !important;
}

.gps {
 width: 1rem;
 height: 1rem;
}

.results-container {
  border: 2px solid green;
  display: flex;
  align-content: space-between;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
  min-height: 10rem;  
}

.main-result {
  width: 44%;
  margin: 1rem;
  padding: 0.25rem;
}
.side-result {
  width: 44%;
  margin: 1rem;
}

.contents {
  display: flex;
}
.temp {
  font-size: 48.8px;
    font-weight: 500;
    line-height: 1.08;
    margin-right: 50px;
    white-space: nowrap;
    width: 52px;
    padding: 2rem;
}
.hi-lo-label {
    color: #878787;
    font-size: 20px;
    line-height: 1.71
}

.phrase {
  font-size: 0.9rem;
  padding: 11px 0 10px;
  display: block;
}

.day .night{
  margin-left: 4rem;
}
.night {
  padding-left: 4rem;
  border-left: 1px solid #CECECE;
}

@media screen and (max-width:768px) {
  .citybox {
    margin-left: 2rem;
  }
  .searchBox {
    width: 50%;
  }
  .head-nav {
    flex-direction: column ;
    flex-wrap: nowrap;  
    margin-top: 2rem;
    padding-bottom: 2rem; 
  }
  .nav-logo {
    width: 50%;
   
  }
  .citybox {
    margin-left: 2rem;
    padding-left: 1rem;
    width: 100%
  }
  .searchBox {
    width: 50%;
  }
  .results-container {
    flex-direction: column;
  }
  .gps {
    width: 1.1rem;
    height: 2rem;
  }
  .main-result
  {
    width: 90%;
    height: 15rem;
  }
  .night {
    padding: 1rem 0 0 0;
    margin-top: 0;
    border-top: 1px solid #CECECE;
    border-left: none;
  }
}

@media screen and (max-width:330px) {
  .nav-logo {
    width: 100%; 
    margin-top: 2rem;
    text-align: center;
  }
  .nav-logo {
    width: 100%;
  }
  .citybox {
    display: flex;
    flex-direction: column;
  }
  .searchBox {
    width: 85%;
  }
  .results-container {
    margin-top: 2rem;
  }
 }

 .form-flex {
   display: flex;
   margin-left:2rem;   
 }
 .login {
  margin-left: 30%;
 }

 .buttons {
   display: flex;
   margin-left: 1rem;
   width: 30%;
   justify-content: space-evenly;
 }
.m-r-1 {
  margin-right: 0.5rem;
}


/** Home */
.hero{
  width: 100%;
  border:1px solid red;
  padding-top:1rem;
  position: relative;
}
.hero-img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  background-position: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  border:1 px solid blue;
  width: 100%;
  height: 100px;
}

.heading1 {
  margin-top: 7rem;
  font-weight: 600;
}
.center {
  text-align: center;
}

.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}

/**Product*/
.product-contents {
  height: auto;
}
.product-nav {
  width: 100%;
}
.product-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.product-card {
  height: 20rem;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;

}
.prod-image {
  height: 13rem;
  width: 12rem !important;
  padding: 0.5rem;
}
.card-body {
  padding: 0.4rem 1rem !important;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.small {
  line-height: 0.875rem!important;
}

/** Product detail*******/
.product {
  flex-direction: column;
}
.prod-detail-image {
  width: 100% !important;
  height: 30rem;
  padding: 2rem;
  margin-right: 3rem
}
.prod-buttons {
  margin-top: 1rem;
  width: 50%;

}


/***CART***/
.cart-card {
  height: 200px;
  border: 1px solid black !important;
  width: 100%;
}

.cart-card__img {
  width: 40%;
  border:1px solid blue;
  height: 100%;
}

.cart-item-detail {
  display: flex;
  flex-direction: column;
}